/* PALETA DE COLORES PREDEFINIDOS*/
:root {
  --rojo: #ca3e47;
  --negro-0: #313131;
  --negro-1: #414141;
  --negro-2: #525252;
}
header {
  background: var(--rojo);
}
main {
  background: var(--negro-0);
}
footer {
  background: var(--rojo);
}
a {
  color: white;
}
/* Carousel */

.carousel {
  position: relative;
  height: 800px;
}
.carousel img{
  background-size: cover;
}

/* acordeon */

.custom-accordion-item {
  border: none;
  margin-bottom: 5px;
}

.custom-accordion-btn {
  background-color: #525252;
  color: white;
  font-weight: 500;
}
.custom-accordion-btn.collapsed:hover {
  background-color: #313131;
}

.accordion-body {
  background-color: #414141;
  color: white;
}
