/* PALETA DE COLORES PREDEFINIDOS*/
:root {
  --rojo: #ca3e47;
  --rojo-claro: #e25a63;
  --rojo-oscuro: #a13239;

  --negro-0: #313131;
  --negro-1: #414141;
  --negro-2: #525252;
  --gris: #7a7a7a;
  --gris-claro: #d9d9d9;
  --blanco: #f5f5f5;

  --azul: #3a6ea5; /* acento frío */
  --naranja: #f39c12; /* acento cálido */
}
header {
  background: var(--negro-0);
}
main {
  background: var(--negro-1);
}
footer {
  background: var(--negro-0);
}
a {
  color: white;
}
/*>>>>>>>>>>>>>> PORTADA */
/* 
.img-cover {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.carousel-item {
  height: 100vh;
}
.carousel-item img {
  height: 100%;
} */
/*>>>>>>>>>>>>>> GRILLA PRINCIPAL*/
.card-img-center {
  object-fit: cover !important;
  height: 100%;
}
.card-body {
  height: 85px;
}
.contenedor {
  position: relative;
  display: inline-block;
}
.etiqueta {
  cursor: pointer;
}
.ventana-emergente {
  display: none;
  position: absolute;
  bottom: 30%;
  left: 50%;
  height: auto;
  width: 105%;
  opacity: 0.8;
  background-color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  z-index: 1;
}
.contenedor:hover .ventana-emergente {
  display: block; /* Muestrar la ventana al pasar el cursor*/
}
.color-img {
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../img/accion/thebeekeeper.jpg);
}

.color-grilla{
  background: #a13239;
  height: 640px;
  border-radius: 5px;
}

.color-grilla-terror{
  background: #a13239;
  height: 660px;
  border-radius: 5px;
}

/*>>>>>>>>>>>>>> ACORDEON */

.custom-accordion-item {
  border: none;
  margin-bottom: 5px;
}
.custom-accordion-btn {
  background-color: #525252;
  color: white;
  font-weight: 500;
}
.custom-accordion-btn.collapsed:hover {
  background-color: #313131;
}
.accordion-body {
  background-color: #414141;
  color: white;
}

/*media para pagina error404*/
@media (width >= 992px) {
  .errorimg {
    width: 75% !important;
  }
}
/* BOTON PLAY */
.btn-red {
  background-color: #ca3e47;
  border: none;
}
.boton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0; /* Oculto por defecto */
}
.boton i {
  font-size: 30px;
  color: white;
}
/*media para pagina error404*/
@media (width >= 992px) {
  .errorimg {
    width: 75% !important;
  }
}
.btn-red {
  background-color: #ca3e47;
  border: none;
}
