/* PALETA DE COLORES PREDEFINIDOS*/
:root {
  --rojo: #ca3e47;
  --negro-0: #313131;
  --negro-1: #414141;
  --negro-2: #525252;
}
header {
  background: var(--rojo);
}
main {
  background: var(--negro-0);
}
footer {
  background: var(--rojo);
}
a {
  color: white;
}
/* Carousel */

.img-cover {
  height: 100%; /* Ocupa todo el alto del contenedor */
  object-fit: cover; /* Cubre todo, recortando lo necesario */
  object-position: center; /* Centra la imagen al recortar */
}
.carousel-item {
  height: 100vh; /* Ajusta el alto del carrusel a tu gusto */
}
.carousel-item img {
  height: 100%; /* Para que se adapte al alto que le pusimos */
}

/* acordeon */

.custom-accordion-item {
  border: none;
  margin-bottom: 5px;
}

.custom-accordion-btn {
  background-color: #525252;
  color: white;
  font-weight: 500;
}
.custom-accordion-btn.collapsed:hover {
  background-color: #313131;
}

.accordion-body {
  background-color: #414141;
  color: white;
}

/*media para pagina error404*/
@media (width >= 992px) {
  .errorimg {
    width: 75% !important;
  }
}

.btn-red {
    background-color: #ca3e47;
    border: none;
  }